@keyframes arrow {
    0% {
        left: -25px;
    }
    25% {
        left: -10px;
    }
    50% {
        left: -25px;
    }
    75% {
        left: -10px;
    }
    100% {
        left: -25px;
    }
}

@keyframes sale {
    0% {
        left: 0;
    }
    25% {
        left: 15px;
    }
    50% {
        left: 0;
    }
    75% {
        left: 15px;
    }
    100% {
        left: 0;
    }
}

@keyframes modalXleft {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(calc(360deg + 45deg));
    }
}

@keyframes modalXright {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(calc(360deg - 45deg));
    }
}