@import "reset.css";
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/ProximaNova-Light.eot");
  src: url("fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Light.woff") format("woff"), url("fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/ProximaNova-Regular.eot");
  src: url("fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/ProximaNova-Semibold.eot");
  src: url("fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Semibold.woff") format("woff"), url("fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/ProximaNova-Bold.eot");
  src: url("fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@keyframes arrow {
  0% {
    left: -25px;
  }
  25% {
    left: -10px;
  }
  50% {
    left: -25px;
  }
  75% {
    left: -10px;
  }
  100% {
    left: -25px;
  }
}
@keyframes sale {
  0% {
    left: 0;
  }
  25% {
    left: 15px;
  }
  50% {
    left: 0;
  }
  75% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
html {
  scroll-behavior: smooth;
}

html, body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #4F4F4F;
}

.container {
  max-width: 1620px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 1158px;
  }
}
@media screen and (max-width: 759.98px) {
  .container {
    max-width: 717px;
  }
}
@media screen and (max-width: 479.98px) {
  .container {
    max-width: 480px;
  }
}
.header {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_left {
  width: calc(100% - 115px);
}

.header__navigation {
  height: 107px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  background-color: #3CC5F0;
  width: 345px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__logo-image {
  margin-right: 18px;
}

.header__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header__name h1 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  color: #FFFFFF;
}
.header__name h2 {
  font-weight: 400;
  font-size: 0.875rem;
  color: #FFFFFF;
}

.header__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__li:not(:last-child) {
  margin-right: 45px;
}

.header__li:last-child {
  margin-right: 115px;
}

.header__menu_right {
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: -100px;
}
.header__menu_right ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.header__menu_right li:last-child {
  margin-bottom: 72px;
}

.header__social-link {
  width: 52px;
  height: 52px;
  border: 2px solid #D2FFC2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 28px;
}
.header__social-link:hover, .header__social-link:focus {
  background-color: #D2FFC2;
  transition: all 0.4s ease;
}

.header__li {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 25px;
  color: #4F4F4F;
  position: relative;
}
.header__link::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 37px;
  background-color: transparent;
}
.header__link:hover, .header__link:focus {
  text-decoration: none;
  color: #4F4F4F;
}
.header__link:hover::after, .header__link:focus::after {
  background-color: #3CC5F0;
  transition: all 0.4s ease;
}
.header__link_accent {
  color: #F95871;
}
.header__link_accent:hover, .header__link_accent:focus {
  color: #F95871;
}
.header__link_accent:hover::after, .header__link_accent:focus::after {
  background-color: #F95871;
}

.header__info {
  background: url("../img/header-lady.png") no-repeat bottom right, url("../img/header-background.png") no-repeat top left;
  background-size: contain, cover;
  height: 100%;
  padding-left: 175px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__info h2 {
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 110px;
  color: #3CC5F0;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 25px;
}
.header__info h3 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 39px;
  padding-bottom: 87px;
}

.header__button {
  font-weight: 600;
  font-size: 1.125rem;
  color: #FFFFFF;
  background-color: #3CC5F0;
  width: 256px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3CC5F0;
  outline: none;
  margin-bottom: 165px;
}
.header__button:hover, .header__button:focus {
  background-color: #ffffff;
  color: #3CC5F0;
  transition: all 0.4s ease;
}

.header__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.header__icons figure {
  margin-right: 60px;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}
.header__icons figcaption p:first-child {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 97.8%;
  color: #828282;
  margin-bottom: 4px;
}
.header__icons figcaption a, .header__icons figcaption p:last-child {
  font-weight: 400;
  font-size: 1rem;
  color: #4F4F4F;
}

.figure-image__wrapper {
  position: relative;
  margin-right: 20px;
}
.figure-image__wrapper::before {
  content: "";
  position: absolute;
  display: flex;
  width: 52px;
  height: 52px;
  background-color: #D2FFC2;
  border-radius: 100%;
  top: -15px;
  left: -15px;
}
.figure-image__wrapper img {
  position: relative;
}

.about-us {
  margin-top: 200px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.about-us h2 {
  font-weight: 700;
  font-size: 4.375rem;
  color: #3CC5F0;
  margin-bottom: 46px;
}
.about-us p {
  font-weight: 300;
  font-size: 1.125rem;
  margin-right: 160px;
}

.about-us_left {
  width: 50%;
}

.about-us_right {
  position: absolute;
  right: 0;
}
.about-us_right::after {
  width: 560px;
  height: 30px;
  background-color: #D2FFC2;
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
}

.information__heading {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 160%;
  color: #3CC5F0;
  margin-bottom: 50px;
}

.information__ul_wrapper {
  display: flex;
  flex-direction: row;
}

.information__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.information__ul_right .information__li {
  margin-left: 200px;
}

.information__li {
  margin-bottom: 33px;
  padding-left: 28px;
}

.information__number {
  position: relative;
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 34px;
  margin-right: 32px;
}
.information__number::before {
  content: "";
  position: absolute;
  width: 52px;
  height: 52px;
  background-color: #D2FFC2;
  border-radius: 100%;
  top: -15px;
  left: -28px;
  z-index: -1;
}

.information__li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 1rem;
  line-height: 145%;
}

.information__ul_left .information__li:first-of-type .information__number {
  margin-right: 38px;
}

.information__ul_right .information__li:last-of-type .information__number {
  margin-right: 38px;
}

.information__link {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  color: #4F4F4F;
  border: 2px solid #3CC5F0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 310px;
  height: 70px;
  position: relative;
}
.information__link::before {
  position: absolute;
  content: url("../img/icons/information-link-arrow.svg");
  top: 25px;
  left: -25px;
}
.information__link:hover, .information__link:focus {
  color: #3CC5F0;
  text-decoration: none;
  transition: all 0.4s ease;
}
.information__link:hover::before, .information__link:focus::before {
  animation-name: arrow;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.sale {
  position: relative;
}
.sale::after {
  left: 0;
  right: 0;
  margin: 0;
  content: "";
  height: 200px;
  top: 300px;
  background-color: #D2FFC2;
  position: absolute;
  z-index: -2;
}

.sale__wrapper {
  margin-top: 130px;
  margin-bottom: 140px;
}

.sale__heading {
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 85px;
  color: #F95871;
  margin-bottom: 53px;
}

.sale__banners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sale__banner {
  width: 689px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.sale__banner .sale__image {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
  max-width: 698px;
  max-height: 270px;
}
.sale__banner:hover, .sale__banner:focus {
  text-decoration: none;
}
.sale__banner:hover .sale__image, .sale__banner:focus .sale__image {
  transform: scale(1.05);
  transition: all 0.4s ease;
}
.sale__banner:hover .sale__arrow, .sale__banner:focus .sale__arrow {
  animation-name: sale;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-delay: 0.4s;
}
.sale__banner_left h3 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 147.8%;
  color: #FFFFFF;
  margin-top: 50px;
  margin-left: 50px;
}
.sale__banner_left p {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.sale__banner_right h3 {
  margin-top: 50px;
  margin-left: 50px;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 44px;
  color: #F95871;
}
.sale__banner_right h4 {
  margin-left: 50px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.15;
  margin-top: 10px;
  color: #333333;
}
.sale__banner_right p {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  color: #4F4F4F;
  margin-bottom: 50px;
}

.sale__link {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}

.sale__arrow {
  margin-right: 25px;
  margin-bottom: 50px;
  position: relative;
}

.services {
  margin-top: 200px;
  margin-bottom: 140px;
}

.heading__secondary {
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 85px;
  color: #3CC5F0;
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 70px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 21%;
  margin-bottom: 57px;
}

.service__icon {
  margin-bottom: 12px;
  position: relative;
  margin-left: 15px;
}
.service__icon::before {
  width: 52px;
  height: 52px;
  content: "";
  position: absolute;
  border-radius: 100%;
  background-color: #D2FFC2;
  left: -15px;
  top: -15px;
  z-index: -1;
}

.service__heading {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
  color: #3CC5F0;
}

.service__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 145.3%;
  color: #4F4F4F;
}

.services__button {
  margin: 0 auto;
}

.our-team .heading__secondary {
  margin-bottom: 70px;
}

.our-team__gallery {
  margin-bottom: 100px;
}
.our-team__gallery .slick-track {
  height: 600px;
}
.our-team__gallery .wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}
.our-team__gallery .slider {
  position: relative;
  z-index: 200;
  padding: 0 0;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
.our-team__gallery .slick-arrow {
  position: absolute;
  top: 77%;
  width: 70px;
  height: 70px;
  background: transparent;
  z-index: 300;
  outline: none;
  border: 2px solid #3CC5F0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team__gallery .slick-prev {
  left: 34%;
  background: url("../img/icons/gallery-arrow-left.svg") no-repeat center center;
}
.our-team__gallery .slick-next {
  right: 34%;
  background: url("../img/icons/gallery-arrow-right.svg") no-repeat center center;
}
.our-team__gallery .item.slick-slide {
  width: 400px;
  height: 400px !important;
  transition: transform 0.4s;
  position: relative;
  background-color: #D2FFC2;
}
.our-team__gallery .item.slick-slide .item__description .item__text {
  display: none;
}
.our-team__gallery .item__name {
  position: relative;
}
.our-team__gallery .item__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 22px;
  color: #333333;
}
.our-team__gallery .item.slick-slide {
  transform: scale(0.7) translate(-16px);
}
.our-team__gallery .item.slick-slide .item__name {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: #4F4F4F;
  width: 100%;
}
.our-team__gallery .item.slick-slide .item__description {
  border-bottom: 3px solid #D2FFC2;
  bottom: -80px;
}
.our-team__gallery .item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.8) translate(50px);
}
.our-team__gallery .item.slick-slide.slick-center + .slick-slide .item__name {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  color: #4F4F4F;
}
.our-team__gallery .item.slick-slide.slick-center + .slick-slide .item__description {
  border-bottom: 7px solid #D2FFC2;
  bottom: -90px;
}
.our-team__gallery .item.slick-slide.slick-active {
  transform: scale(0.8) translate(-50px);
}
.our-team__gallery .item.slick-slide.slick-active .item__name {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  color: #4F4F4F;
}
.our-team__gallery .item.slick-slide.slick-active .item__description {
  border-bottom: 7px solid #D2FFC2;
  bottom: -90px;
}
.our-team__gallery .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.7) translate(16px);
}
.our-team__gallery .item.slick-slide.slick-center + .slick-slide + .item.slick-slide .item__name {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: #4F4F4F;
  width: 100%;
}
.our-team__gallery .item.slick-slide.slick-center + .slick-slide + .item.slick-slide .item__description {
  border-bottom: 3px solid #D2FFC2;
  bottom: -80px;
}
.our-team__gallery .item.slick-slide.slick-center {
  transform: scale(1);
}
.our-team__gallery .item.slick-slide.slick-center .item__description .item__text {
  display: block;
}
.our-team__gallery .item.slick-slide.slick-center .item__name {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
  color: #3CC5F0;
  top: 10px;
  margin-bottom: 20px;
}
.our-team__gallery .item.slick-slide.slick-center .item__description {
  border-bottom: 15px solid #D2FFC2;
  bottom: -170px;
}
.our-team__gallery .slick-center:after {
  opacity: 0;
}

.item__description {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -170px;
  padding-left: 40px;
  padding-bottom: 30px;
  width: 400px;
}

.items__counter {
  position: absolute;
  z-index: 200;
}

.feedback {
  margin-top: 0;
  margin-bottom: 130px;
}

.feedback .heading__secondary {
  margin-bottom: 50px;
}

.feedback__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.feedback__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 25%;
  margin-bottom: 75px;
}

.feedback__avatar {
  margin-right: 20px;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: #D2FFC2;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback__avatar img[src*=svg] {
  padding-left: 5px;
}

.feedback__info_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feedback__name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  color: #4F4F4F;
}

.feedback__date {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 17px;
  color: #828282;
}

.feedback__text {
  margin-top: 17px;
  font-weight: 300;
  font-size: 1rem;
  line-height: 23px;
  color: #4F4F4F;
}

.feedback__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.feedback__buttons .information__link {
  width: 220px;
  margin-top: 0;
}
.feedback__buttons .information__link::before {
  content: "";
}
.feedback__buttons .header__button {
  width: 220px;
  margin-right: 35px;
  margin-bottom: 0;
}

.contacts .heading__secondary {
  margin-bottom: 55px;
}
.contacts figure:nth-child(5) {
  margin-left: 220px;
}
.contacts figure:nth-child(5) .figure-image__wrapper {
  margin-right: 0;
}
.contacts figure:last-child {
  margin-right: 0;
}
.contacts figure:last-child .figure-image__wrapper {
  margin-right: 0;
}

.contacts__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contacts__icons figure {
  display: flex;
  flex-direction: row;
}
.contacts__icons figure img[src*=vk] {
  padding-top: 15px;
}
.contacts__icons figcaption p:first-child {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 97.8%;
  color: #828282;
  margin-bottom: 7px;
}
.contacts__icons figcaption p:last-child, .contacts__icons figcaption a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 84.8%;
  color: #4F4F4F;
}
.contacts__icons figcaption a {
  text-decoration: none;
}
.contacts__icons figcaption a:hover, .contacts__icons figcaption a:focus {
  text-decoration: underline;
}

.contacts__map-and-questions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.contacts__map, .contacts__questions {
  width: 50%;
}

.contacts__questions {
  padding: 80px 120px;
  height: 576px;
  border-right: 15px solid #D2FFC2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}
.contacts__questions .header__button {
  margin-bottom: 0;
  margin-top: 50px;
}

.questions__heading {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 37px;
  color: #3CC5F0;
}

.questions__input {
  width: 100%;
  padding: 13px;
  border: none;
  border-bottom: 1px solid #828282;
  color: #4F4F4F;
  font-weight: 300;
  font-size: 1rem;
}
.questions__input::placeholder {
  font-weight: 300;
  font-size: 1rem;
  color: #BDBDBD;
}

.footer {
  height: 130px;
  margin-top: 70px;
  background: linear-gradient(to right, #3CC5F0 0%, #3CC5F0 29.9%, #4F4F4F 30%, #4F4F4F 100%);
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  height: 130px;
}

.footer__logo {
  background-color: #3CC5F0;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__logo h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
  color: #fff;
}
.footer__logo h3 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 98.8%;
  color: #FFFFFF;
}

.footer__info {
  background-color: #4F4F4F;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__info_left {
  display: flex;
  flex-direction: column;
}
.footer__info_left p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 24px;
  color: #BDBDBD;
  text-transform: uppercase;
  padding-left: 60px;
}
.footer__info_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.footer__politic {
  font-weight: 300;
  font-size: 1rem;
  line-height: 19px;
  color: #BDBDBD;
  text-decoration: underline;
  margin-bottom: 10px;
}
.footer__politic:hover, .footer__politic:focus {
  color: #fff;
}

.footer__copyright {
  font-weight: 300;
  font-size: 1rem;
  line-height: 19px;
  color: #BDBDBD;
}

/*# sourceMappingURL=style.css.map */
