@import "reset.css";
@import "__fonts.scss";
@import "__variables.scss";


html, body {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: $main-color;
}

