@import "reset.css";
@import "__fonts.scss";
@import "__variables.scss";
@import "__adaptive.scss";

html {
    scroll-behavior: smooth;
}


// todo ещё раз после всего все шрифты проверить на rem
html, body {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: $main-color;
}

//.container {
//    width: 1620px;
//    max-width: 1620px;
//}


.header {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_left {
    width: calc(100% - 115px);
}

.header__navigation {
    height: 107px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.header__logo {
    background-color: $blue-color;
    width: 345px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__logo-image {
    margin-right: 18px;
}

.header__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__heading_h1 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 22px;
    color: #FFFFFF;
}

.header__heading_h2 {
    font-weight: 400;
    font-size: 0.875rem;
    color: #FFFFFF;
}

.header__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__li:not(:last-child) {
    margin-right: 45px;
}

.header__li:last-child {
    margin-right: 115px;
}


.header__menu_right {
    width: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: -100px;


}

.header__ul_right {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;


}

.header__li_right:last-child {
    margin-bottom: 72px;
}

.header__social-link {
    width: 52px;
    height: 52px;
    border: 2px solid $green-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 28px;

    &:hover, &:focus {
        background-color: $green-color;
        transition: all 0.4s ease;
    }
}


.header__li {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 25px;
    color: $main-color;
    position: relative;


    &::after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 37px;
        background-color: transparent;
    }

    &:hover, &:focus {
        text-decoration: none;
        color: $main-color;


        &::after {
            background-color: $blue-color;
            transition: all 0.4s ease;
        }

    }

    &_accent {
        color: $red-color;

        &:hover, &:focus {
            color: $red-color;

            &::after {
                background-color: $red-color;
            }
        }
    }
}

.header__info {
    background: url('../img/header-lady.png') no-repeat bottom right,
    url('../img/header-background.png') no-repeat top left;
    background-size: contain, cover;
    height: 100%;
    padding-left: 175px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.header__info_h2 {
    font-weight: 700;
    font-size: 5.625rem;
    line-height: 110px;
    color: $blue-color;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 25px;
}

.header__info_h3 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 39px;
    padding-bottom: 87px;
}

.header__button {
    font-weight: 600;
    font-size: 1.125rem;
    color: #FFFFFF;
    background-color: $blue-color;
    width: 256px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $blue-color;
    outline: none;
    margin-bottom: 165px;


    &:hover, &:focus {
        background-color: #ffffff;
        color: $blue-color;
        transition: all 0.4s ease;
    }
}

.header__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;


}

.header__figure {
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    margin-top: 0;

}


.header__figcaption-text_top {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 97.8%;
    color: $lightgray-color;
    margin-bottom: 4px;
}

.header__figcaption-text_bottom {
    font-weight: 400;
    font-size: 1rem;
    color: $main-color;
}

.header__figcaption-link {
    font-weight: 400;
    font-size: 1rem;
    color: $main-color;
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: underline;
        color: $main-color;
    }
}

.contacts__figure-wrapper {
    position: relative;
    margin-right: 20px;

    &::before {
        content: '';
        position: absolute;
        display: flex;
        width: 52px;
        height: 52px;
        background-color: $green-color;
        border-radius: 100%;
        top: -15px;
        left: -15px;
    }


}

.header__image {
    position: relative;
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
}

.about-us {
    margin-top: 200px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;


}

.about-us__heading {
    font-weight: 700;
    font-size: 4.375rem;
    color: $blue-color;
    margin-bottom: 46px;
}

.about-us__text {
    font-weight: 300;
    font-size: 1.125rem;
    margin-right: 160px;
}

.about-us_left {
    width: 50%;
}

.about-us_right {
    position: absolute;
    right: 0;

    &::after {
        width: 560px;
        height: 30px;
        background-color: $green-color;
        content: '';
        position: absolute;
        bottom: -30px;
        right: 0;
    }

}


.information__heading {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 160%;
    color: $blue-color;
    margin-bottom: 50px;
}

.information__ul_wrapper {
    display: flex;
    flex-direction: row;

}

.information__ul {
    list-style: none;
    display: flex;
    flex-direction: column;

}

.information__ul_right .information__li {
    margin-left: 200px;
}

.information__li {
    margin-bottom: 33px;
    padding-left: 28px;

}

.information__number {
    position: relative;
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 34px;
    margin-right: 32px;

    &::before {
        content: '';
        position: absolute;
        width: 52px;
        height: 52px;
        background-color: $green-color;
        border-radius: 100%;
        top: -15px;
        left: -28px;
        z-index: -1;
    }

}

.information__li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 300;
    font-size: 1rem;
    line-height: 145%;
}

.information__ul_left .information__li:first-of-type .information__number {
    margin-right: 38px;
}

.information__ul_right .information__li:last-of-type .information__number {
    margin-right: 38px;
}

.information__link {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 22px;
    color: $main-color;
    border: 2px solid $blue-color;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 310px;
    height: 70px;
    position: relative;

    &::before {
        position: absolute;
        content: url('../img/icons/information-link-arrow.svg');
        top: 25px;
        left: -25px;
    }

    &:hover, &:focus {
        color: $blue-color;
        text-decoration: none;
        transition: all 0.4s ease;

        &::before {
            animation-name: arrow;
            animation-duration: 0.8s;
            animation-timing-function: ease;
        }
    }

}

.sale {
    position: relative;

    &::after {
        left: 0;
        right: 0;
        margin: 0;
        content: '';
        height: 200px;
        top: 300px;
        background-color: $green-color;
        position: absolute;
        z-index: -2;
    }
}

.sale__wrapper {
    margin-top: 130px;
    margin-bottom: 140px;


}

.sale__heading {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 85px;
    color: $red-color;
    margin-bottom: 53px;
}

.sale__banners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sale__banner {
    width: 689px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    & .sale__image {
        position: absolute;
        object-fit: cover;
        z-index: -1;
        overflow: hidden;
        max-width: 698px;
        max-height: 270px;
    }

    &:hover, &:focus {
        text-decoration: none;

        & .sale__image {
            transform: scale(1.05);
            transition: all 0.4s ease;
        }

        & .sale__arrow {
            animation-name: sale;
            animation-duration: 0.8s;
            animation-timing-function: ease;
            animation-delay: 0.4s;
        }
    }


}

.sale__heading_left {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 147.8%;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 50px;
}

.sale__text_left {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 50px;

}

.sale__heading_right {
    margin-top: 50px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 44px;
    color: $red-color;
}

.sale__subheading_right {
    margin-left: 50px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.15;
    margin-top: 10px;
    color: #333333;

}

.sale__text_right {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 22px;
    color: $main-color;
    margin-bottom: 50px;

}

.sale__link {
    margin-left: 50px;
    display: flex;
    flex-direction: row;

}

.sale__arrow {
    margin-right: 25px;
    margin-bottom: 50px;
    position: relative;
}

.services {
    margin-top: 200px;
    margin-bottom: 140px;
}

.heading__secondary {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 85px;
    color: $blue-color;
}

.services__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 70px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 21%;
    margin-bottom: 57px;
}

.service__icon {
    margin-bottom: 12px;
    position: relative;
    margin-left: 15px;


    &::before {
        width: 52px;
        height: 52px;
        content: '';
        position: absolute;
        border-radius: 100%;
        background-color: $green-color;
        left: -15px;
        top: -15px;
        z-index: -1;
    }
}

.service__image {
    width: 45px;
    height: 45px;
}

.service__heading {
    //margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
    color: $blue-color;
}

.service__text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 145.3%;
    color: $main-color;
}

.services__button {
    margin: 0 auto;
}

.our-team .heading__secondary {
    margin-bottom: 70px;
}


.our-team__gallery {
    margin-bottom: 100px;

    .slick-track {
        height: 600px;
        //min-width: 100%;
        //transition: all 0.3s ease;
    }


    .wrap {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 100%;
        padding: 0;
        overflow: hidden;
    }


    .slider {
        position: relative;
        z-index: 200;
        padding: 0 0;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

    .slick-arrow {
        position: absolute;
        top: 77%;
        width: 70px;
        height: 70px;
        //line-height: 50px;
        background: transparent;
        //color: #000;
        //font-family: monospace;
        //font-size: 5rem;
        z-index: 300;
        outline: none;
        border: 2px solid #3CC5F0;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .slick-prev {
        left: 34%;
        background: url('../img/icons/gallery-arrow-left.svg') no-repeat center center;


    }

    .slick-next {
        right: 34%;
        background: url('../img/icons/gallery-arrow-right.svg') no-repeat center center;


    }


    .item.slick-slide {
        width: 400px;
        height: 400px !important;
        transition: transform .4s;
        position: relative;
        background-color: $green-color;

        & .item__description .item__text {
            display: none;
        }
    }

    .item__name {
        position: relative;
    }

    .item__text {
        font-weight: 300;
        font-size: 1rem;
        line-height: 22px;
        color: #333333;
    }


    .item.slick-slide {
        transform: scale(0.7) translate(-16px);

        & .item__name {
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 17px;
            color: #4F4F4F;
            width: 100%;

        }

        & .item__description {
            border-bottom: 3px solid $green-color;
            bottom: -80px;
        }
    }


    .item.slick-slide.slick-center + .slick-slide {
        transform: scale(0.8) translate(50px);

        & .item__name {
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 22px;
            color: #4F4F4F;

        }

        & .item__description {
            border-bottom: 7px solid $green-color;
            bottom: -90px;
        }

    }


    .item.slick-slide.slick-active {
        transform: scale(0.8) translate(-50px);

        & .item__name {
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 22px;
            color: #4F4F4F;

        }

        & .item__description {
            border-bottom: 7px solid $green-color;
            bottom: -90px;
        }
    }


    .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
        transform: scale(0.7) translate(16px);


        & .item__name {
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 17px;
            color: #4F4F4F;
            width: 100%;

        }

        & .item__description {
            border-bottom: 3px solid $green-color;
            bottom: -80px;
        }
    }


    .item.slick-slide.slick-center {
        transform: scale(1);

        & .item__description .item__text {
            display: block;
        }

        & .item__name {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 24px;
            color: $blue-color;
            top: 10px;
            margin-bottom: 20px;
        }


        & .item__description {
            border-bottom: 15px solid $green-color;
            bottom: -170px;
        }
    }

    .slick-center:after {
        opacity: 0;
    }
}

.item__description {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -170px;
    padding-left: 40px;
    padding-bottom: 30px;
    width: 400px;

}

.items__counter {
    position: absolute;
    z-index: 200;
}

.feedback {
    margin-top: 0;
    margin-bottom: 130px;
}

.feedback .heading__secondary {
    margin-bottom: 50px;
}

.feedback__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.feedback__list_hided {
    display: none;
}

.feedback__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 25%;
    margin-bottom: 75px;
}

.feedback__avatar {
    margin-right: 20px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: $green-color;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & img[src*='svg'] {
        padding-left: 5px;
    }
}

.feedback__info_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feedback__name {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 22px;
    color: $main-color;
}

.feedback__date {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 17px;
    color: $lightgray-color;
}

.feedback__text {
    margin-top: 17px;
    font-weight: 300;
    font-size: 1rem;
    line-height: 23px;
    color: $main-color;
}

.feedback__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    & .information__link {
        width: 220px;
        margin-top: 0;

        &::before {
            content: '';
        }
    }

    & .header__button {
        width: 220px;
        margin-right: 35px;
        margin-bottom: 0;
    }
}

//todo popup с возможностью добавить отзыв прикрутить


.contacts {

    & .heading__secondary {
        margin-bottom: 55px;
    }


}

.contacts__figure {
    display: flex;
    flex-direction: row;

    &:nth-child(5) {
        margin-left: 220px;

        & .contacts__figure-wrapper {
            margin-right: 0;
        }
    }

    &:last-child {
        margin-right: 0;

        & .contacts__figure-wrapper {
            margin-right: 0;
        }
    }

    & img[src*='vk'] {
        padding-top: 15px;

    }
}

.contacts__figure-wrapper_social::before {
    left: -10px;
    top: -10px;
}

.contacts__image {
    position: relative;
    z-index: 1;


}

.contacts__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.contacts__text_top {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 97.8%;
    color: $lightgray-color;
    margin-bottom: 7px;
}

.contacts__text_bottom {
    font-weight: 400;
    font-size: 1rem;
    line-height: 84.8%;
    color: $main-color;
}

.contacts__link {
    font-weight: 400;
    font-size: 1rem;
    line-height: 84.8%;
    color: $main-color;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
        color: $main-color;
    }
}


.contacts__map-and-questions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;

}

.contacts__map, .contacts__questions {
    width: 50%;
}

.contacts__questions {
    padding: 80px 120px;
    height: 576px;
    border-right: 15px solid $green-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;

    & .header__button {
        margin-bottom: 0;
        margin-top: 50px;
    }
}

.questions__heading {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 37px;
    color: $blue-color;
}


.questions__input {
    width: 100%;
    padding: 13px;
    border: none;
    border-bottom: 1px solid $lightgray-color;
    color: $main-color;
    font-weight: 300;
    font-size: 1rem;

    &::placeholder {
        font-weight: 300;
        font-size: 1rem;
        color: #BDBDBD;
    }
}


.footer {
    height: 130px;
    margin-top: 70px;
    background: linear-gradient(to right, $blue-color 0%, $blue-color 29.9%, $main-color 30%, $main-color 100%);
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    height: 130px;
}

.footer__logo {
    background-color: $blue-color;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


}

.footer__heading_h2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 22px;
    color: #fff;
}

.footer__heading_h3 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 98.8%;
    color: #FFFFFF;
}

.footer__info {
    background-color: $main-color;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_left {
        display: flex;
        flex-direction: column;


    }

    &_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }


}

.footer__text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
    color: #BDBDBD;
    text-transform: uppercase;
    padding-left: 60px;
}

.footer__politic {
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: #BDBDBD;
    text-decoration: underline;
    margin-bottom: 10px;

    &:hover, &:focus {
        color: #fff;
    }
}

.footer__copyright {
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: #BDBDBD;
}

